<h1>Artists</h1>

<% for artist in @artists %>
	<a href="/artists/<%= artist.id  %>">
  	<ul>
	    <li><%=h artist.name %></li>
	  </ul>
	</a>
<% end %>


<br />

<%= link_to 'New artist', new_artist_path %>
