<h1>Upload</h1>


<div id="option">
	upload a song, or tar.gz or zip file
</div>

<br><br>

<% form_for :upload, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	<ul>
    <li><%= f.file_field :file %></li>
    <li><%= f.submit "Upload" %></li>
	</ul>
<% end %>

<%= link_to 'Back', songs_path %>


<br />

