<h1>Upload</h1>

upload a song, or tar.gz or zip file

<% form_for :upload, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	<ul>
    <li><%= f.file_field :file %></li>
    <li><%= f.submit "Create" %></li>
	</ul>
<% end %>

<%= link_to 'Back', songs_path %>


<br />

