<%# TODO make the player tell me when it is playing. 
 maybe it should stop all other players if it is starting
 and why doesn't the link take up the whole thing? %>

<script type="text/javascript">
function getUpdate(typ,pr1,pr2,swf) { 
  if(typ == 'load' && pr1 == 100) { 
		
		<% song.play_count+=1 %>
		<% song.save %>
	 }
	if(typ == 'state' && pr1 == 3) { 
		<%= onend %>
	 }
};
</script>


<%= link_to_function "
	<div class='left'>
		<ul>
			<li>#{song.name}</li>
			<li>#{song.artist.name}</li>
			<li>#{song.album.title}</li>
			<li>play count:#{song.play_count}</li>
			<li><br></li>
			<li>	
		" + mp3_player({:file => song.mp3, :autostart => autostart}, :id => song.id, :height => '20') + "
			</li>
		</ul>
	</div>
", 
player_event(:playpause, :player => song.id ) %>


		