<script type="text/javascript">
function getUpdate(typ,pr1,pr2,swf) { 
  if(typ == 'state' && pr1 == 3) { 
		window.location.href = "/songs/random";
	alert("finished playing song");
	 }
};
</script>




	<%= link_to_function "
<ul>
	<li>#{song.name}</li>
	<li>#{song.artist.name}</li>
	<li>#{song.length}</li>
	<li>#{song.album.title}</li>
	<div id=\"mp3object\"></div>
</ul>", player_event(:playpause, :player => song.id )%>



<%= mp3_player({:file => song.mp3}, :id => song.id, :height => '20') %>
