<h1>Albums</h1>

<% for album in @albums %>
	<a href="/albums/<%= album.id  %>">
			<%= render :partial => "album", :locals => { :album => album } %>
	</a>
<% end %>


<br />

<% link_to 'New album', new_album_path %>
