<h1>Albums</h1>

<% for album in @albums %>
	<a href="/albums/<%= album.id  %>">
  	<ul>
	    <li><%=h album.title %></li>
	    <li><%=h album.year %></li>
	  </ul>
	</a>
<% end %>


<br />

<% link_to 'New album', new_album_path %>
